<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<!--Can use doc.[field] (see docs.py) since doc_page in main.py renders a template with this doc.html and hands alongside it a doc object.-->

<title>Document Page</title>
<body>
    <header class="w3-container w3-green">
      <h1>BrighterSpace.com</h1>
    </header>
    <div class="w3-padding w3-display-middle">
      <div class="w3-container w3-light-grey w3-center">
        <h2 style="text-shadow:1px 1px 0 #444">{{doc.name}}</h2>
      </div>
      <iframe src="https://drive.google.com/file/d/{{doc.id}}/preview#page=1" onload="javascript:this.contentWindow.location.hash=':0.page.1';" height="700" width="500"></iframe>
      <button href="https://drive.google.com/drive/{{doc.id}}/export?format={{doc.extension}}&ddrp=1#" class="w3-btn w3-teal">Download Document</button>
    </div>
</body>
</html>