<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<title>Document Page</title>
<body>
    <header class="w3-container w3-green">
      <h1>BrighterSpace.com</h1>
    </header>
        <h1>Upload Successful!</h1>
        <strong><nav>
          <ul class="menu">
            <!--Link and class for visual of button that, when clicked, follows link-->
            <a href="{{ url_for('home') }}" class="w3-button w3-black">Home</a>
          </ul>
        </nav></strong>
</body>
</html>