<!DOCTYPE html>
<style>
  .loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
<html>
  <title>Uploader</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <body>
    <header class="w3-container w3-green">
      <h1>BrighterSpace.com</h1>
    </header>
    <a href="{{ url_for('home') }}" class="w3-btn w3-teal">Back</a>
    <div class="w3-display-middle" id="whole">
      <form action = "uploader" method = "POST" enctype = "multipart/form-data" class="w3-container w3-card-4">
        <h1>Upload File to Site</h1>
        <label><b>First and Last Name</b></label>
        <input class="w3-input w3-border" type="text" name="name" id="name">
        <label><b>Name of Document</b></label>
        <input class="w3-input w3-border" type="text" name="docName" id="docName">
        <label><b>Professor</b></label>
        <input class="w3-input w3-border" type="text" name="prof" id="prof">
        <p>
        <select id="grades" class="w3-select w3-half w3-border" name="gID">
          <option value="" disabled selected>Choose Grade</option>
          {% for val in grades %}
          <option value="{{val.id}}">{{ val.name }}</option>
          {% endfor %}
        </select>
        <!-- <label>Choose Subject</label> -->
        <select id="subjects" class="w3-select w3-half w3-border" name="sID">
          <option value="" disabled selected>Choose Subject</option>
          {% for val in subjects %}
          <option value="{{val.id}}">{{ val.name }}</option>
          {% endfor %}
        </select>
      </p>
        <div class="w3-container">
          <p><input type = "file" name = "file" />
          <input type = "submit" id="upload" onclick="showLoadingIcon()"/></p>
        </div>
      </form> 
    </div>
  </body>
</html>
<script>
  var button = document.getElementById('upload')
  var whole = document.getElementById('whole')
  //----------------------------Core functionality----------------------------------//
  function showLoadingIcon() {
    var loadingImage = '<div class="w3-display-middle"> \
                        <div class="loader"></div> \
                        </div>';
    whole.style.cssText += 'background-color:gray; \
                              opacity:0.6;'
    $('body').append(loadingImage);
  }

  function hideLoadingIcon() {       //call this when you want to hide loading icon
  $('#loading_icon_div').remove();
  }
</script>

